# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install GNU/Octave
      - name: Install GNU/Octave
        run: |
          sudo apt-get update
          sudo apt-get -y install octave octave-control octave-statistics

      # Runs a set of commands using the runners shell
      - name: Run the tests
        run: |
          echo "Testing hm-toolbox with HODLR / QR compression"
          octave --no-gui --eval "pkg load control; pkg load statistics; addpath tests; hodlroption('compression', 'qr'); hodlr_RunAllTests;"
